<div class="wrapper">
    <div class="wrapper-petition">
        <h1 class='petition-title'></h1>
        {{#if error}}
            <div class="error">
                Please fill out the form correctly!
            </div>
        {{/if}}
        {{#if error1}}
            <div class="error">
                You entered the wrong credentials!
            </div>
        {{/if}}
        <form method="POST">
            <label for="inp2" class="inp2">
                <input id='inp2' type="email" name="email" placeholder="&nbsp;">
                <span class="label">E-mail</span>
                <span class="border"></span>
            </label>
            <label for="inp3" class="inp3">
                <input id='inp3' type="password" name="password" placeholder="&nbsp;">
                <span class="label">Password</span>
                <span class="border"></span>
            </label>
            <input type="hidden" name="_csrf" value='{{csrfToken}}'>
            <button>Log In</button>
        </form><br>
        <p>If you are already a member of our website, please <a href="/login">Log In</a> with your credentials.</p>
    </div>
</div>
<script src="/typeit.min.js"></script>
<script src='/typewriter.js'></script>
<script src='/paint.js'></script>
