<div class="wrapper">
    <div class="wrapper-petition">
        <h1 class='petition-title'></h1>
        <span>Sign our petition and help bring back a classic!</span>
        {{#if error}}
            <div class="error">
                Please fill out the form correctly!
            </div>
        {{/if}}
        <form method="POST">
            <label for="inp" class="inp">
                <input id='inp' type="text" name="first" placeholder="&nbsp;">
                <span class="label">First Name</span>
                <span class="border"></span>
            </label>
            <label for="inp1" class="inp1">
                <input id='inp1' type="text" name="last" placeholder="&nbsp;">
                <span class="label">Last Name</span>
                <span class="border"></span>
            </label>
            <label for="inp2" class="inp2">
                <input id='inp2' type="email" name="email" placeholder="&nbsp;">
                <span class="label">E-mail</span>
                <span class="border"></span>
            </label>
            <label for="inp3" class="inp3">
                <input id='inp3' type="password" name="password" placeholder="&nbsp;">
                <span class="label">Password</span>
                <span class="border"></span>
            </label>
            <input type="hidden" name="_csrf" value='{{csrfToken}}'>
            <button>Sign Up</button>
        </form><br>
        <span>If you are already a member, please <a href="/login">Log In</a>.</span>
    </div>
    <div class="nokia">
        <img class='phone' src="/nokia.png" alt="nokia 3310">
    </div>
</div>
<script src="/typeit.min.js"></script>
<script src='/typewriter.js'></script>
<script src='/paint.js'></script>
